body{
    background: #c7bb75;
    font: normal 15pt Arial ;

}

header {
    color :azure;
    text-align: center;

}

section{
background: rgb(243, 229, 229);
border-radius: 20px;
padding-block: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(29, 10, 10, 0.219);
}

div{
    text-align: center;
    padding: 7px;
}

footer{
    color: white;
    text-align: center;
    font-style:italic ;
   
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
